<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
</head>
<body>

<div class="container">

    <div th:replace="fragments/userinfo :: info"></div>


    <div th:if="${errorMsg != null}" th:text="${errorMsg}" class="errorMsg"></div>
    <div th:if="${gameComplete == true}" class="success-wrap">
        <h2>GAME COMPLETE!</h2>
        <img th:src="@{~/images/tick.png}">
        <a th:href="@{/}" class="custom-button">Go Back</a>
    </div>


    <div th:each="question : ${allQuestions}">
        <div class="question">From options below select the applicable sentence based on the video below: </div>


        <div class="word-images">
            <div class="row images-row">

                <div class="video-container">
                    <div class="text">Video unavailable</div>
                </div>


                <div class="answer-option" th:each="option : ${question.answerOptions}">
                    <a class="answer-anchor"
                       th:href="@{/selectAnswerForGameThree/{questionId}/{optionId}(questionId = ${question.id}, optionId = ${option.id})}">
                        <div class="answer-text" th:text="${option.wordFrench}"></div>
                        <div class="answer-text" th:text="${option.wordEnglish}"></div>
                    </a>

                </div>

            </div>

        </div>

    </div>


</div>

</body>